section {
    /* padding: var(--gutter-huge) 0; */
    padding: 12rem 0;
}

.row {
    /* max-width: var(--container-max-width); */
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
}

.work__box {
    display: flex;
    align-items: center;
}

.work__box:not(:last-child) {
    margin-bottom: 25rem;
}

.work__text {
    flex: 0 0 50%;
}

img {
    object-fit: contain;
    max-width: 100%;
}

@media (min-width: 901px) {
    .work__image-box {
        flex: 1;
        margin: 0 0 0 5rem;
    }
}

/* .work__list {
    list-style-position: inside;
    margin-bottom: 3rem;
}

.work__links {
    display: flex;
    align-items: center;
}

.link__text {
    position: relative;
    display: inline-block;
    padding: .6rem;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #D73766;
}

.work__code {
    display: block;
    height: 3rem;
    margin-left: 3rem;
    transition: all .3s;
} */
